$primary-color: #ff2d7e;
$secondary-color: #fff;
$third-color: rgb(111, 108, 109);
$fourth-color: rgb(10, 10, 83);
$primary-background-color: rgb(6, 18, 56);
$secondary-background-color: rgb(244, 247, 254);
$third-background-color: rgb(255, 255, 255);
$background-nav: black;
